extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Basilissa Albers

        p.lead.text-light
          | Passionate Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I am a 27 year old graduate of the Bachelor Programme in Web Development at KEA (Københavns Erhvervsakademi) living in Copenhagen, and have been working fulltime as a Software Developer since 2018.
            | In my everyday life I work mostly with C# and .NET as well as various JavaScript and TypeScript frameworks and libraries.
            | I'm passionate about programming and try to continously extend my skillset and deepen my understanding of current technologies.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS, SCSS, LESS
          li JavaScript
          li TypeScript
          li React
          li Angular2
          li C#
          li .NET
          li MySQL
          li Oracle
        h6 Contact Info

        ul
          li +45 28 40 06 38
          li basilissa.albers@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/basilissa-albers/') LinkedIn
        a.button.expanded(href='https://github.com/Basilissa108') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  